body {
    font-family: 'Roboto', sans-serif;
    background-color: #212121 !important;
}

h1 {
    color: white;
}

.error__page {
    color: white !important;
}

.create__post__form {
    margin: 0 auto;
    margin-top: 50px;

    & .form-group {
        margin-top: 1rem;
    }
}

.nav-link a {
    color: white;

    &:hover {
        color: lightgray;
    }
}

.post__cards {
    max-width: 100%;

    & .wrapper {
        // display: flex;
        flex-flow: wrap;

        & .post__card {
            padding: 20px;
            margin: 0 auto;
        }
    }
}

nav {
    position: fixed;
    height: 60px;
    left: 0px;
    top: 0px;
    right: 0px;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 60px;
    padding: 1rem;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
